.Layout {
    background-color: #fff;
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 120px;
        transition: 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
        background-color: #001529;
        z-index: 9;
        align-items: center;
        border-bottom: 1px solid #dcdfe6;
        height: 80px;
        .anticon-reddit {
            position: absolute;
            left: 80px;
            color: #fff;
            font-size: 30px;
            transition: left 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
        }
        .ant-dropdown-trigger {
            position: absolute;
            right: 80px;
            cursor: pointer;
            transition: right 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
        }
        ul {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            .navList {
                display: flex;
                align-items: center;
                height: 100%;
                text-decoration: none;
                color: hsla(0, 0%, 100%, 0.65);
                cursor: pointer;
                padding: 0 22px;
                transition: color 0.3s;
                &:hover {
                    color: #fff;
                }
            }
        }
        .weather {
            position: absolute;
            left: 140px;
            color: #fff;
            transition: left 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
        }
    }
    .page {
        display: flex;
        height: calc(100vh - 80px);
        margin-top: 80px;
        box-sizing: border-box;
        transition: 0.6s;
        .menu-box {
            position: relative;
            width: 240px;
            transition: width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
        }
        .menu {
            width: 100%;
            height: 100%;
            background: #001529;
            box-sizing: border-box;
            overflow-y: scroll;
            overflow-x: hidden;
            &::-webkit-scrollbar {
                width: 7px;
            }
            &::-webkit-scrollbar-thumb {
                /* 滚动条里面小方块 */
                background: #001529;
                border-radius: 5px;
                height: 10px;
            }
            &::-webkit-scrollbar-track {
                /*滚动条里面轨道*/
                background: #001529;
            }
            &:hover::-webkit-scrollbar-thumb {
                background: #003871;
                visibility: visible;
                border-radius: 5px;
            }
        }
        .collapsed {
            position: absolute;
            width: 100%;
            bottom: 0;
            margin-bottom: 0 !important;
            background: #001529;
            border-color: #001529;
        }
        .menuList {
            margin-bottom: 32px;
        }
        main {
            position: relative;
            height: 100%;
            box-sizing: border-box;
            overflow-y: scroll;
            flex: 1;
            padding: 20px;
            background: #eee;
            &::-webkit-scrollbar {
                width: 7px;
            }
            &::-webkit-scrollbar-thumb {
                /* 滚动条里面小方块 */
                background: #ddd;
                border-radius: 5px;
                height: 10px;
            }
        }
    }
}
@media screen and(max-width: 768px) {
    .Layout header .anticon-reddit {
        left: 25px;
    }
    .Layout header .ant-dropdown-trigger {
        right: 25px;
    }
    .Layout header .weather {
        left: 85px;
    }
    .Layout header {
        padding: 0 50px;
    }
}
